{{>Start}}
        <iso:DIDAuthenticateResponse xmlns:iso="urn:iso:std:iso-iec:24727:tech:schema" Profile="http://www.bsi.bund.com/ecard/api/1.1">
{{>Result}}
        </iso:DIDAuthenticateResponse>
{{>End}}